%h3= my_format(Time.now)
%h3= session[:xx]
%h3= "result=#{@result}, u=#{@u.to_json}"
- if user_signed_in?
  %div Signed in as... #{current_user.email}
%table{ :border => 2}
  %thead
    %tr
      - Exchange.first.attributes.each do |key, value|
        %td= key
  %tbody
    - Exchange.all.each do |entity|
      %tr
        - entity.attributes.each do |key, value|
          %td= value
